.site {
    background-color: rgba(255, 255, 255, 0.9);
}

.nav-register-now {
    position: fixed !important;
    bottom: 20px;
    right: 40px;
    padding: 0 !important;

    a {
        font-size: 1rem;
        padding: 12px 20px 12px 36px !important;
        width: 188px;
        border-radius: 2px;
        text-align: center;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        background-color: #007acc !important;
        border: 2px solid #007acc;
        color: #fff !important;
        transition: all .25s ease;

        &:hover {
            background-color: darken(#007acc, 10%) !important;
            border: 2px solid darken(#007acc, 10%);
        }

        &:before {
            content: "";
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            background-image: url('https://2016.belgrade.wordcamp.org/files/2016/03/ticket-icon.png');
            background-size: 100%;
            left: 18px;
            top: 16px;
        }
    }
}

.tix-column-description {
    width: 60%;
}

.tix_tickets_table thead tr th:first-child {
    width: 60%;
}

.comment .avatar, .tix_tickets_table td {
    vertical-align: middle;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.75em;
    table-layout: fixed;
    width: 100%;
}

th {
    font-size: 14px;
}

table tbody td, table thead th {
    padding: 15px;
}

hr, table tbody tr:nth-child(odd) {
    background: #eef2f2;
}
